<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >

    <test name="IETestCases">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name ="SearchTest"/>
        </classes>
    </test>

    <test name="FirefoxTestCases">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name ="SearchTest"/>
        </classes>
    </test>

    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <!--<groups>
            <run>
                <exclude name="ie"/>
                <include name="user" />
                <include name="admin" />
            </run>
        </groups>-->
        <classes>
            <class name ="BlogTest"/>
            <class name ="BookNowTest"/>
            <class name ="Conditions"/>
            <class name ="HomeTest"/>
            <class name ="IframeTest"/>
            <class name ="JoinTest"/>
            <class name ="PhotoTest"/>
            <class name ="RegButtonTest"/>
            <class name ="SearchTest"/>
            <class name ="SignIn"/>
            <class name ="StoreTest"/>
            <class name ="TourToUkrainTest"/>
            <class name ="ViewTest"/>
        </classes>
    </test>

   <!-- <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <exclude name="ie"></exclude>
                <include name="user" />
                <include name="admin" />
            </run>
        </groups>
        <classes>
            <class name ="Conditions">
            <methods>
                <include name=".*Conditions.*"/>
                <include name=".*Assert.*"/>
                <exclude name=".*List.*"/>
            </methods>
            </class>
        </classes>
    </test>-->

</suite>